<div class="container" >

    <div class="section-title">
    <h2>About</h2>
	<h3>Who Am I?</h3>
    <p style="background-color: white; padding: 10px;"> <b>Hi! I'm Chintan.</b> Passionate about developing innovative programs that expedite the efficiency and effectiveness of organizational success, as well as user experience for mobile and tablet devices on the Android/iOS platform. A self-taught programmer, always eager to learn new technologies while working on projects. Great team player who believes in the benefits of collaboration over competition. Always open to any opportunity to grow in my field of work.</p>
    </div>

    <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
    <img src="images/profile.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" style="background-color: white;">
    <h3>Mobile App/Game Developer &amp; Software Developer.</h3>
    <p class="fst-italic">
        I do the work I do because I love it. I love programming and learning new skills. I like the people I meet. We will likely cross paths in the real world someday, and we can make it a better place together.
    </p>
    <div class="row">
        <div class="col-lg-6">
        <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 Aug 1997</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 647-879-1697</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Waterloo, Canada</span></li>
        </ul>
        </div>
        <div class="col-lg-6">
        <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>PG Diploma</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>cslimbani97@gmail.com</span></li>
        </ul>
        </div>
    </div>
    <p>
        • Self-taught Software Developer with 3 years of professional experience<br>
		• Good knowledge and experience in the software development lifecycle, including CI/CD pipeline<br>
		• In-depth knowledge of agile software development methodologies and server-client architectures<br>
		• Self-driven and enthusiastic learner who appreciates challenges and can quickly adapt to fast-paced environments, with the ability to learn quickly.<br>
		• Deep understanding of micro-server architecture and software development skills in object-orientedprogramming with strong debugging skills, software UI designs (GUI), data structures, and algorithms.<br>
		• Strong troubleshooting ability with high attention to detail<br>
		• Creative and result oriented in approach, thrive on finding innovative solutions<br>
		• I have created 7+ apps and games in my spare time and published them on the play store. Some of the apps crossed 10k+ downloads within a month.
    </p>
</div>



{{!-- For Skills --}}

<div id="fh5co-skills" class="animate-box" style="margin-bottom: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<h2>Skills</h2>
			</div>
		</div>

		<div class="row" style="background-color: white; padding: 10px">
			<div class="col-md-6">

				<div class="progress-wrap">
					<h3><span class="name-left">C#/.Net</span><span class="value-right">95%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">Kotlin</span><span class="value-right">95%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">HTML5/CSS</span><span class="value-right">90%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">Software/Android Development</span><span class="value-right">1000%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">PHP</span><span class="value-right">80%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar"
						aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						</div>
					</div>
				</div>
				
				<div class="progress-wrap">
					<h3><span class="name-left">JavaScript</span><span class="value-right">85%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-6">
				<div class="progress-wrap">
					<h3><span class="name-left">Java</span><span class="value-right">95%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">SQL</span><span class="value-right">90%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">Node js</span><span class="value-right">80%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar"
						aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						</div>
					</div>
				</div>
			
				<div class="progress-wrap">
					<h3><span class="name-left">Unity 3D Development</span><span class="value-right">75%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						</div>
					</div>
				</div>

				<div class="progress-wrap">
					<h3><span class="name-left">Python</span><span class="value-right">85%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						</div>
					</div>
				</div>
				<div class="progress-wrap">
					<h3><span class="name-left">Cloud computing</span><span class="value-right">75%</span></h3>
					<div class="progress">
						<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
