<div id="fh5co-work" class="fh5co-bg-dark" style="margin-bottom: 10px;">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<h2>Academic Projects</h2>
			</div>
		</div>
		
		  <div class="staff_main">
            <div class="container_staff">
                <div class="row">

                    <section id="resume" class="resume">
                    <div class="container">

                        <div class="row">
                            
                            <div>
                                <p style="padding-left: 2rem;background-image: url(images/star.svg);background-position: 0 0;background-size: 1.6rem 1.6rem;background-repeat: no-repeat;  font-size: 20px;"> <b>GTA-GO Carpooling Application  </b> <span style="float : inline-end;">(Conestoga College)</span> </p>
                                <p style="padding-left: 3rem;">Technologies: Android Application, Kotlin, Node js, Mongo DB, Postman, Google Map, Retrofit, Visual Paradigm</p>
                                <ul style="padding-left: 4rem;">
                                    <li>Developed an Android application showing all available rides from source to destination using View Models, LiveData, and Android design patterns. Used Mongo DB for data storage on the backend and Node.js to create APIs.</li>
                                    <li>Integrated, developed, and deployed complete design solutions. A variety of diagrams, including activities, use cases, and class diagrams, were drawn using Visual Paradigm, a project management tool.</li>
                                </ul>       
                            </div>



                            <div>
                                <p style="padding-left: 2rem;background-image: url(images/star.svg);background-position: 0 0;background-size: 1.6rem 1.6rem;background-repeat: no-repeat;  font-size: 20px;"> <b>Dentist Appointment System  </b> <span style="float : inline-end;">(Conestoga College)</span> </p>
                                <p style="padding-left: 3rem;">Technologies: C#, WPF, LINQ, Visual Studio, Data Binding, XAML</p>
                                <ul style="padding-left: 4rem;">
                                    <li>Developed C# applications using WPF that book the dentist's schedule and store booked appointments in binary format into local storage. </li>
                                    <li>Enhancing the application's performance and reducing boilerplate code with data binding. Additionally, LINQ was used to filter data according to requirements.</li>
                                </ul>       
                            </div>


                             <div>
                                <p style="padding-left: 2rem;background-image: url(images/star.svg);background-position: 0 0;background-size: 1.6rem 1.6rem;background-repeat: no-repeat;  font-size: 20px;"> <b>MovieGram  </b> <span style="float : inline-end;">(Gujarat Technological University)</span> </p>
                                <p style="padding-left: 3rem;">Technologies: Core PHP, MySQL Database, HTML, CSS, Ajax, jQuery, JavaScript, Bootstrap</p>
                                <ul style="padding-left: 4rem;">
                                    <li>Developed a web application similar to Netflix. </li>
                                    <li>Integrated IMDB APIs for movie information, and third-party video hosting APIs for viewing, downloading, and uploading content.</li>
                                </ul>       
                            </div>


                            <div>
                                <p style="padding-left: 2rem;background-image: url(images/star.svg);background-position: 0 0;background-size: 1.6rem 1.6rem;background-repeat: no-repeat;  font-size: 20px;"> <b>IOT Remote Control Car  </b> <span style="float : inline-end;">(Gujarat Technological University)</span> </p>
                                <p style="padding-left: 3rem;">Technologies: Arduino UNO3, Bluetooth, Ultrasonic Sensor, Motor driver, Android app</p>
                                <ul style="padding-left: 4rem;">
                                    <li>Designed a remote-control car using Arduino and its components – Bluetooth, ultrasonic sensor, motor, light etc. </li>
                                    <li>Developed an Android app to control the car via Bluetooth.</li>
                                </ul>       
                            </div>


                        </div>

                    </div>
                    </section>

                </div>
            </div>
        </div>
		 
	</div>
</div>