<section id="contact" class="contact">

  <div class="container" >

    <div class="section-title">
      <h2>Certificates</h2>
    </div>

    <div class="staff_main">
         <div class="container_staff">
            <div class="row">
               <div class="column">
                    <div class="man">
                        <i><img src="images/Java.png" alt="Java(Basic) - Hacker Rank"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Java(Basic) - <a href="https://www.hackerrank.com/certificates/f75e428158ce" target="_blank">Hacker Rank</a> </h4>
                        
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/Csharp.png" alt="C#(Basic) - Hacker Rank"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>C#(Basic) - <a href="https://www.hackerrank.com/certificates/104af7472317" target="_blank">Hacker Rank</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/JavaScript.png" alt="JavaScript(Basic) - Hacker Rank"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>JavaScript(Basic) - <a href="https://www.hackerrank.com/certificates/e24ea10222a8" target="_blank">Hacker Rank</a> </h4>
                     </div>
               </div>
            </div>

             <div class="row">
               <div class="column">
                    <div class="man">
                        <i><img src="images/Python.png" alt="Python - Kaggle"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Python - <a href="https://www.kaggle.com/learn/certification/chintanlimbani/python" target="_blank">Kaggle</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/Advance_Java.jpg" alt="Advance Java - Collabera Tact"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Advance Java - <a href="https://drive.google.com/file/d/1s0FFH-arL6BLBOd7tAv5udQZL20ydKDi/view" target="_blank">Collabera Tact</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/SQLBasic.png" alt="SQL(Basic) - Hacker Rank"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>SQL(Basic) - <a href="https://www.hackerrank.com/certificates/fa540e2cc589" target="_blank">Hacker Rank</a> </h4>
                     </div>
               </div>
            </div>

             <div class="row">
               <div class="column">
                    <div class="man">
                        <i><img src="images/SQLIntermediate.png" alt="SQL(Intermediate) - Hacker Rank"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>SQL(Intermediate) - <a href="https://www.hackerrank.com/certificates/3e60cd50799f" target="_blank">Hacker Rank</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/SQLAdvance.png" alt="SQL(Advance) - Hacker Rank"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>SQL(Advance) - <a href="https://www.hackerrank.com/certificates/57087e8add5a" target="_blank">Hacker Rank</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/Android.jpg" alt="Android Development - Collabera Tact"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Android Development - <a href="https://drive.google.com/file/d/1HliB_J5ZEhy4ebd97dEY6A0HRUyfngJv/view" target="_blank">Collabera Tact</a> </h4>
                     </div>
               </div>
            </div>

             <div class="row">
               <div class="column">
                    <div class="man">
                        <i><img src="images/Nodejs.png" alt="NodeJs - LinkedIn Learning"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>NodeJs - <a href="https://www.linkedin.com/learning/certificates/15dcf10651b07809eb5e89fdb2a9d21b27bde96392b7d0dc41a3f79dbe79ad64?u=2212217" target="_blank">LinkedIn Learning</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/Docker.png" alt="Docker - LinkedIn Learning"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Docker - <a href="https://www.linkedin.com/learning/certificates/1e4fa83dff1a8d66a7bba8b899b57b5f4de7f0abb30d1105381a0bdc07812f33?u=2212217" target="_blank">LinkedIn Learning</a> </h4>
                     </div>
               </div>
               <div class="column">
                    <div class="man">
                        <i><img src="images/Cplsu.png" alt="C++ - LinkedIn Learning"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>C++ - <a href="https://www.linkedin.com/learning/certificates/894b56d4b4f204592436fb5c7d374a07461dda1481b23eeec0b732d9caac3746?u=2212217" target="_blank">LinkedIn Learning</a> </h4>
                     </div>
               </div>
            </div>

             <div class="row">
               <div class="column">
                    <div class="man">
                        <i><img src="images/RestAPI.png" alt="RestAPI - LinkedIn Learning"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>RestAPI - <a href="https://www.linkedin.com/learning/certificates/b9dac1738a1026b3b63236aed5b7d3883ed3d78789aad541eb491fb9fa6a6b15?u=2212217" target="_blank">LinkedIn Learning</a> </h4>
                     </div>
               </div>
            </div>
             
         </div>
      </div>

     
 </div>

</section>
