<section id="contact" class="contact">

  <div class="container" >

    <div class="section-title">
      <h2>Contact</h2>
      <p style="background-color: white; padding: 10px;">Aspire to take a challenging task and be a part of efficient and winning team. Serve in an organization which gives me the opportunity to prove myself, offers appropriate environment to cultivate all good deeds and where constant up-gradation of knowledge is possible.</p>
    </div>

    <div class="row"  >

      <div class="col-lg-5 d-flex align-items-stretch" > 
        <div class="info">
          

          <div class="location">
            <img src="images/location.png">
            <h4>Location:</h4>
            <p>Surat, India</p>
          </div>              

          <div class="email">
            <img src="images/mail.png">
            <h4>Email:</h4>
            <p>chintanlimbani16@gmail.com</p>
          </div>

          <div class="phone">
              <img src="images/call.png">
            <h4>Call:</h4>
            <p>+91 8000303499</p>
          </div>
          <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=surat+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
 </div>

</section>
