<div class="container" >

    <div class="section-title">
         <h2>Experience</h2>


        <div class="staff_main">
            <div class="container_staff">
                <div class="row">

                    <section id="resume" class="resume">
                    <div class="container">

                        <div class="row">
                        <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
								
								<div class="resume-item">
								<h4>Freelancing</h4>
								<h5>May 2022 - Present</h5>
								<ul>
									<li>Developing Mobile and Web application Developments for the stakeholders.</li>
								</ul>
								</div>


								<div class="resume-item">
								<h4>SOFTWARE DEVELOPER AR-VR (CO-OP)</h4>
								<h5>JAN 2022 - APR 2022</h5>
								<p><em>VAR LAB CONESTOGA, WATERLOO CANADA </em></p>
								<ul>
									<li>Developed digital learning simulations focusing on foundational skills for trade programs.</li>
									<li>Part of the team for a commercial truck inspection simulation using the Unity3D game engine and C#. </li>
									<li>Worked within an Agile / SCRUM process to focus on iterative development (CI/CD Pipeline) and get frequent stakeholder feedback for client satisfaction.</li>
									<li>Collaborated with a 17-member agile team to manage code conflicts and code review through source control.</li>
									<li>Detected program bugs through standardized tests and prioritized order of issue fixes.</li>
									<li>Practiced agile methodology along with sprint planning, daily stand-up, sprint review, and sprint retrospective. Familiar with Jira platform for ticket management.</li>

								</ul>
								</div>
								<div class="resume-item">
								<h4>SOFTWARE ENGINEER</h4>
								<h5>Mar 2020 - APR 2021</h5>
								<p><em>WINTER INFOTECH - SURAT, INDIA</em></p>
								<ul>
									{{!-- <li>Developed mobile applications using cutting-edge React Native library for Android & iOS platforms, providing a high-performance user experience with seamless functionality</li>
									<li>Rebuilding Restful APIs using Node.js, Express, and MongoDB, which increased the number of requests per second to enhance the performance of microservices by 15%.</li>
									<li>Optimized the performance of apps by architecting and refactoring code.</li>
									<li>Design, Development and Bug Fixing on large Scale projects.</li>
									<li>Added new features to 10+ apps to increase user engagement by 25%.</li>
									<li>Developed Automated flow for storing data and email Notification using Power Automate, SharePoint.</li>
									<li>Implemented custom libraries and 3rd party frameworks, improving the efficiency of applications</li>
									<li>Responsible for correctly managing all source code in Azure DevOps across the team and ensuring Test Cases are aptly entered before a product is made live to the customer.</li>
									<li>Developed Mobile app using React-Native along with web frameworks such as Spring Boot & Hibernate for backend using Jhipster tool.</li> --}}

									<li>Awarded a certificate of appraisal by head of engineering department.</li>
									<li>Designed and developed 4 applications from end to end and published them on the play store with more than 1M+ total downloads.</li>
									<li>Optimized the performance of apps by architecting and refactoring code.</li>
									<li>Design, Development and Bug Fixing on large Scale projects.</li>
									<li>RESTful API development using Node.js for cross-platform data access.</li>
									<li>Added new features to 6+ apps to increase user engagement by 25%.</li>
									<li>Developed Automated flow for storing data and email Notification using Power Automate, SharePoint</li>
									<li>Responsible for correctly managing all source code in Azure DevOps across the team and ensuring Test Cases are aptly entered before a product is made live to the customer.</li>
									<li>Developed Mobile application using Java along with web frameworks such as Spring Boot and Hibernate for backend using Jhipster tool.</li>


								</ul>
								</div>

								<div class="resume-item">
								<h4>ANDROID DEVELOPER</h4>
								<h5>July 2018 - Feb 2020</h5>
								<p><em>LEMBARK SOLUTIONS - SURAT, INDIA</em></p>
								<ul>
									<li>Was responsible for developing 7+ projects from end-to-end.</li>
									<li>User Interface Development / enhancement. (UI / UX)</li>
									<li>Maintained / upgraded products to deliver smooth-running systems.</li>
									<li>Experience with Android Jetpack components, Android SDKs, Firebase, Material Design, Gradle, GraphQL, Google Cloud Platform, Android Architecture Components, RESTful API integration, Google Play Store, Dependency Injection, okHttp, Retrofit, Android Frameworks, Payment gateway integration.</li>
									<li>Codebase Refactor / Optimization</li>
									<li>Implemented TDD methodology to write unit tests to resolve critical application issues like crashes, memory leaks, and concurrency issues.</li>
									<li>Developed applications with documentation from end-to-end using MVP, MVC, and MVVM Software design patterns with custom UI designs (Material UI) that improved user experience.</li>
									<li>Implemented Test-driven development (TDD) methodology to write unit tests for mobile code and to resolve critical application issues like crashes, memory leaks, and concurrency issues.</li>
									<li>Learned software engineering processes and best practices.</li>
								</ul>
								</div>

							</div>
                        </div>

                    </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

</div>