 <section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Chintan
            <span class="text-info">Limbani</span>
        </h1>
        <div class="subheading mb-5">
            Surat, India · 8000303499 ·
            <a href="mailto:name@email.com" class="text-info">chintanlimbani16@gmail.com</a>
        </div>
        <p class="lead mb-5">Android Developer | UI Designer | Photograpger</p>
       
    </div>
 </section>