 <section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Chintan
            <span class="text-info">Limbani</span>
        </h1>
        <div class="subheading mb-5">
            Waterloo, ON, Canada · +1 647-879-1697 ·
            <a href="mailto:cslimbani97@gmail.com" class="text-info">cslimbani97@gmail.com</a>
        </div>
        <p class="lead mb-5">Mobile and Web Developer | Software Developer | Game Developer </p>
       
    </div>
 </section>