<div id="fh5co-work" class="fh5co-bg-dark" style="margin-bottom: 10px;">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<h2>Projects</h2>
				<p>A few projects of the clients or organizers were done by me. I have mentioned links to some projects, but some don't have access.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-1.png); width:100%;height:100%;">
					<div class="desc">
						<h3>Trucking Simulation</h3>
						<span>Unity 3D VR Simulator</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="https://play.google.com/store/apps/details?id=com.crunch.idcardwallet" class="work" style="background-image: url(images/portfolio-2.png);" target="_blank" >
					<div class="desc">
						<h3>ID Card Wallet</h3>
						<span>Android application (LINK)</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="https://play.google.com/store/apps/details?id=com.mlab.invoice.generator" class="work" style="background-image: url(images/portfolio-7.png);" target="_blank">
					<div class="desc">
						<h3>Invoice Generator</h3>
						<span>Android application (LINK)</span>
					</div>
				</a>
			</div>
			
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="https://play.google.com/store/apps/details?id=com.srgroup.fastinghours.tracker"  class="work" style="background-image: url(images/portfolio-8.png);" target="_blank">
					<div class="desc">
						<h3>Fasting Tracker</h3>
						<span>Android application (LINK)</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-3.png);">
					<div class="desc">
						<h3>Music Editor</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-4.png);">
					<div class="desc">
						<h3>HD Wallpaper</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box" >
				<a href="#" class="work" style="background-image: url(images/portfolio-5.png);">
					<div class="desc">
						<h3>Spin To Win</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-6.png);">
					<div class="desc">
						<h3>Seo Rank Tracker</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			
			
		</div>
	</div>
</div>