<div id="fh5co-work" class="fh5co-bg-dark" style="margin-bottom: 10px;">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
				<h2>Projects</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-1.png);">
					<div class="desc">
						<h3>Fasting Tracker</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-2.png);">
					<div class="desc">
						<h3>ID Card Wallet</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-3.png);">
					<div class="desc">
						<h3>Music Editor</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-4.png);">
					<div class="desc">
						<h3>HD Wallpaper</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box" >
				<a href="#" class="work" style="background-image: url(images/portfolio-5.png);">
					<div class="desc">
						<h3>Spin To Win</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-6.png);">
					<div class="desc">
						<h3>Seo Rank Tracker</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-7.png);">
					<div class="desc">
						<h3>Fasting Tracker</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
			<div class="col-md-3 text-center col-padding animate-box">
				<a href="#" class="work" style="background-image: url(images/portfolio-8.png);">
					<div class="desc">
						<h3>BMI Calculator</h3>
						<span>Android application</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>